{% extends 'base.html' %}
{% block content %}
    <div style="margin: 2rem; text-align: center;">
        <h1 style="font-family: 'Pacifico', cursive;" class="m-5">Hello World List</h1>

        <form action="/accounts/hello_world/" , method="post">
            {% csrf_token %}
            <div class="input-group mb-3 w-50 m-auto">
                <input type="text" class="form-control" placeholder="Recipient's username" name="hello_world_input">
                <button class="btn btn-dark" type="submit" id="button-addon2">제출</button>
            </div>
        </form>

        {% if hello_world_list %}
            {% for text in hello_world_list %}
                <h3>{{ text.text }}</h3>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}