<div style="text-align: center;">
    <div class="pragmatic_header_logo">
        <h1>Pragmatic</h1>
    </div>
    <div class="pragmatic_header_button">
        <span>nav1</span>
        <span>nav2</span>
        <span>
            {% if not is_authenticated  %}
            <a href="{% url 'accountapp:login' %}">Login</a>
            {% else %}
            <a href="{% url 'accountapp:logout' %}">Logout</a>
            {% endif %}
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">SignUp</a>
        </span>
    </div>
</div>